<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="sig-verify-form-tab" data-bs-toggle="tab" data-bs-target="#sig-verify-form"
            type="button" role="tab" aria-controls="sig-verify-form" aria-selected="true">Form</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="sig-verify-curl-tab" data-bs-toggle="tab" data-bs-target="#sig-verify-curl"
            type="button" role="tab" aria-controls="sig-verify-curl" aria-selected="false">cURL</button>
    </li>
</ul>
<div class="tab-content">

    <div class="tab-pane fade show active" id="sig-verify-form" role="tabpanel" aria-labelledby="sig-verify-form-tab">
        <form id="verify" class="my-4" name="verify" action="/signature/verify" method="POST"
            enctype="multipart/form-data">

            <div class="mb-3">
                <label for="verifySigFile" class="form-label">Signature file</label>
                <input type="file" name="signaturefile" class="form-control" aria-describedby="signaturefileHelp"
                    id="verifySigFile" />
                <div id="signaturefileHelp" class="form-text">
                    Attach the cose file if you have it, or
                    <a data-bs-toggle="collapse" href="#verifySigHexSection" role="button" aria-expanded="false"
                        aria-controls="verifySigHexSection">
                        use HEX input</a>
                </div>
            </div>
            <div class="mb-3 collapse" id="verifySigHexSection">
                <label for="verifySigHex" class="form-label">Signature HEX</label>
                <textarea name="signaturehex" class="form-control" aria-describedby="signaturehexHelp" id="verifySigHex"
                    cols="30" rows="2" placeholder='d2845828a301260446666f6f62617219018758186...'></textarea>
                <div id="signaturehexHelp" class="form-text">If you do not have a file but know the signature
                    representation in HEX then use this field</div>
            </div>

            <button type="submit" class="btn btn-primary">Verify signature</button>
        </form>
    </div>

    <div class="tab-pane fade" id="sig-verify-curl" role="tabpanel" aria-labelledby="sig-verify-curl-tab">
        <div class="card text-bg-light my-4">
            <div class="card-header">Verify with cURL</div>
            <div class="card-body">
                <p class="card-text">Using a file:</p>
                <pre class="card-text">curl -L 'https://playground-cose-eastus-api.azurewebsites.net/signature/verify' -X POST \
                  --form signaturefile='@./my/signature/file.cose'</pre>
                <p class="card-text">Using a hex value:</p>
                <pre class="card-text">curl -L 'https://playground-cose-eastus-api.azurewebsites.net/signature/verify' -X POST \
                  --form signaturehex='d2845828a301260446666f6f...17219018758186469643a77'</pre>
            </div>
        </div>
    </div>
</div>